{% extends 'navbar.html' %}

{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'vendor/css/home.css' %}">
{% endblock links %}

{% block titulo %}Cuestionario{% endblock titulo %}

{% block body %}
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mb-5" >Cuestionarios disponibles</h2>
            <table class="table tabla">
                <tr>
                    <th>Cuestionario</th>
                    <th>Progreso</th>
                    <th>Accion</th>
                </tr>
                
                {% for cuestionario in cuestionarios %}
                    <tr>
                        <td>{{cuestionario}}</td>
                        <td>0%</td>
                        <td>{{opciones|safe}}</td>            
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock body %}