{% extends 'layout.html' %}

{% block title %}Bienvenido{% endblock title %}

{% block body %}
       <div class="card bg-white text-dark shadow-lg">
            <div class="card-header text-center bg-info text-white">
                <h2>Datos Generales</h2>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    
                    {% for pregunta in datos_gen %}
                    <div class="mb-4">
                        <div class="card bg-light border-dark">
                            <div class="card-body">
                                <h5>{{pregunta.label_tag}}</h5>
                                {% for opcion in pregunta %}
                                    <div class="form-check">
                                        {{opcion}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </form>
            </div>
       </div>
{% endblock body %}