{% extends "navbar.html" %}

{% load static %}
{% block links %}
{% endblock links %}
    

{% block titulo %}Informe Nutricional{% endblock titulo %}


{% block body  %}
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-12 text-center">
                {% if is_completed is False %}
                    <div class="col-12 text-center">
                        <h3>Completa la encuesta para poder visualizar el resultado</h3>
                        <p>Debes completar cada apartado de la encuesta para ver tu resultado.</p>
                    </div>                
                {% else %}
                    <div class="col-12 text-center">
                        <h2 class="mb-3">Informe Nutricional de encuenta</h2>
                        <p class="mb-4 text-muted">Aquí se muestra un resumen de tu consumo alimenticio basado en la clasificacion NOVA.</p>
                    </div>
                {% endif %}
                    
            </div>
        </div>
    </div>
{% endblock body  %}

{% block scripts %}
{% endblock scripts %}