# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.db
media/
*.env
.env

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# If you are using macOS
.DS_Store

# VS Code settings
.vscode/

# Ignore virtual environment folder
venv/