{% include 'components/progressbar.html' %}

<div class="container mt-4">
    <div class="border p-4 rounded shadow-sm">
        <form action="" method="post" id="formulario">
            {% csrf_token %}
            
            <div class="text-center mb-4">
                <h4>{{ pregunta }}</h4>
            </div>

            {% if grupal and imagenes %}
                <div class="row justify-content-center mb-4">
                    <div class="col-md-8 text-center">
                        <img src="{{ imagenes }}" alt="Imagen grupal" class="img-fluid rounded shadow" style="max-width: 100%; height: auto;">
                    </div>
                </div>
            {% endif %}

            <div class="row mt-4">
                <div class="form-group">
                    {% for respuesta in respuestas %}
                        <div class="form-check mb-4 d-flex align-items-center">
                            <input class="form-check-input me-2" type="radio" value="{{ respuesta.id }}" id="respuesta_{{ respuesta.id }}" name="opcion" required>

                            <label class="form-check-label me-3" for="respuesta_{{ respuesta.id }}">
                                {{ respuesta.texto }}
                            </label>

                            {# Mostrar imagen individual por opción si no es grupal y la respuesta tiene imagen #}
                            {% if not grupal and respuesta.imagen %}
                                <img src="{{ respuesta.imagen }}" alt="Imagen de la respuesta" class="img-fluid rounded shadow" style="max-width: 100px; height: auto;">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-outline-primary w-100">Siguiente</button>
            </div>
        </form>
    </div>
</div>
