{% include 'components/progressbar.html' %}
<div class="container mt-4">
    <div class="border p-4 rounded shadow-sm">
        <form action="" method="post" id="formulario">
            {% csrf_token %}
            
            <div class="text-center mb-4">
                <h4>{{ pregunta }}</h4>
            </div>

            <div class="form-group mb-5">
                <select class="form-control" id="opcionesSelect" name="opcion" required>
                    <option value="" disabled selected>Selecciona una respuesta</option>
                    {% for respuesta in respuestas %}
                        <option value="{{ respuesta.id }}">{{ respuesta.nombre_largo }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="d-flex justify-content-between mt-4 px-3">
                <button type="submit" class="btn btn-outline-primary flex-fill">Siguiente</button>
            </div>
        </form>
    </div>
</div>
