{% extends 'navbar.html' %}
{% block title %}{{cuestionario}}{% endblock title %}

{% block body %}
    {% if template == 1 %}
        {% include 'form_frecuency.html' %}
    {% elif template == 2 %}
        {% include 'form_images.html' %}
    {% endif %}
    {% if template == 3 %}

    {% endif %}
    {% if template == 4 %}
        
    {% endif %}
    
    {% if template == 0 %}
        {% include 'terminado.html' %}
    {% endif %}

    {% endblock body %}
{% block scripts %}
    {% load static %}
    <script src="{% static 'vendor/js/form.js' %}"></script>
{% endblock scripts %}