{% extends 'navbar.html' %}
{% block title %}{{cuestionario}}{% endblock title %}

{% block body %}
    <div class="d-flex justify-content-between mt-5 mb-5">
        <div class="">
            <label class="" for="progress-bar">Progreso:</label>
            <progress class="" id="progress-bar" value="70" max="100"></progress>
        </div>
            <a href="{% url 'home' %}" class="btn btn-outline-danger w-25">Salir</a>
    </div>

    {% if template == 1 %}
        {% include 'form_images.html' %}
       
    {% elif template == 2 %}
        {% include 'form_frecuency.html' %}
    {% endif %}
{% endblock body %}