{% extends "layout.html" %}

{% block title %}Cuestionario primero{% endblock title %}

{% block body %}

    <div class="">
        <p>{{pregunta}}</p>
    </div>
    <div class="">
        {% for respuesta in respuestas %}
            <input value="{{respuesta.id}}" type="radio" name="respuesta">
            <label for="">{{respuesta.nombre_largo}}</label>
        {% endfor %}
    </div>
    <div class="">
        <a href="">Anterior</a>  <a href="">Siguiente</a>
    </div>        
{% endblock body %}