{% extends "navbar.html" %}


{% block titulo %}Cuestionario terminado{% endblock titulo %}


{% block body %}
<div class="container-fluid">
    <div class="alert alert-success text-center">
        <h4 class="alert-heading">El cuestionario ha sido completado</h4>
        <p>Regresa el menú principal para terminal los cuestionarios faltantes</p>
        <hr>
        <div class="col-12 text-center">
            <a class="btn btn-outline-primary w-50" href="{% url 'home'%}">Regresar</a>
        </div>
    </div>
</div>
{% endblock body %}