{% extends "components/navbar.html" %}

{% load static %}
{% block links %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
{% endblock links %}

{% block titulo %}Editar cuestionario{% endblock titulo %}

{% block body %}
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="mb-5" >Editar cuestionario</h2>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-end mb-5">
                    <a href="{% url 'dashboard_cuestionario'%}" class="btn btn-danger">
                        <i class="bi bi-arrow-left w-25"></i> Regresar
                    </a>
                </div>
                <div class="col-12 mb-5 form-floating">
                    <input name="id" type="hidden" id="id_cuestionario" value="{{ id }}">
                    <input id="nombreid" name="nombre" type="text" class="form-control" placeholder="Nombre del cuestionario" value="{{ nombre }}">
                    <label for="nombreid">Nombre</label>
                </div>
                <div class="col-12 mb-5 form-floating">
                    <input id="abreviacionid" name="abreviacion" type="text" class="form-control" placeholder="Abreviacion del cuestionario" value="{{ abreviacion }}">
                    <label for="abreviacionid">Abreviación</label>
                </div>
                <div class="col-12 mb-5 form-floating">
                    <textarea id="descripcionid" rows="3" name="descripcion" class="form-control" placeholder="Descripcion del cuestionario">{{ descripcion }}</textarea>
                    <label for="descripcionid">Descripción</label>
                </div>
                <div class="col-12 text-end mt-5">
                    <button id="enviar-respuesta" class="btn btn-primary w-25" type="button">
                        <i class="bi bi-save"></i> Guardar
                    </button>
                </div>
            </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h2 class="mb-5" >Preguntas del cuestionario</h2>
            </div>
            <div class="col-12">
                {% include 'components/preguntas_list.html' %}
            </div>
        </div>
        </div>
    </div>    
{% endblock body %}

{% block scripts %}
    <script id="config" data-api-url = "{% url 'mostrar_preguntas' id_cuestionario=id%}"></script>
    <script src="{%static 'js/components/funciones.js'%}"></script>
    <script src="{%static 'js/edit_cuestionario.js'%}"></script>
{% endblock scripts %}