{% load static %}
<nav class="navbar navbar-expand-lg bg-transparent">
    <a class="navbar-brand text-white" href="{% url 'landing' %}">
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="#main">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#justificacion">Justificacion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#objetivos">Objetivos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#impacto-esperado">Impacto Esperado</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'register' %}">Regístrate</a>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#iniciosesion">
                    Iniciar Sesión
                </button>
            </li>
        </ul>
    </div>
</nav>
