{% extends 'layout.html' %}

{% load static%}

{% block title %}CFCA MX{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'vendor/css/styles.css' %}">
{% endblock links %}

{% block body %}


<div class="row">
    {% include 'navbar_landing.html' %}
</div>
<div class="container mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card border-primary">
                <div class="card-header text-center">
                    <h3>CFCA MX</h3>
                </div>
                <div class="card-body text-center">
                    <p>Cuestionario de Frecuencia de Consumo de Alimentos Cuantitativo Autoadministrado en Línea para la Población Mexicana.</p>
                    <a href="{% url 'register' %}" class="btn btn-primary">Comienza Aquí</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Acerca del Proyecto</h4>
                </div>
                <div class="card-body">
                    <p class="text-justify">
                        Este cuestionario tiene como objetivo recopilar datos sobre la frecuencia de consumo de alimentos en la población mexicana. 
                        Los resultados permitirán evaluar patrones de alimentación y contribuir a la investigación en salud pública y nutrición.
                    </p>
                    <p class="text-justify">
                        Participar es fácil y rápido. Simplemente regístrate y accede al cuestionario. Tu información será tratada de manera confidencial y solo se utilizará con fines académicos y de investigación.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="iniciosesion" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Iniciar Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="username">Correo Electrónico <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" name="username" id="username">
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Contraseña <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-success w-100" type="submit">Iniciar Sesión</button>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}